@abtguard:registry=http://10.54.62.31:8080/repository/albaraka-npm-private/

email = mobile@albarakatech.com
always-auth = false
registry = http://10.54.62.31:8080/repository/npm-group/
npm_config_save_exact=true
save-exact=true
fetch-retry-maxtimeout=600000
fetch-retry-mintimeout=120000
fetch-timeout=1800000
unsafe-perm = true # for patch-package
engine-strict=true # for engines in package.json
legacy-peer-deps=true